.bg-blue-main {
    background-color: #633df6;
}
.text-blue-main {
    background-color: #633df6;
}
.table-card-border {
    border-color: #0284c7;
    border-radius: 100px;
}
.home-outline {
    width: 100%;
    border-color: #228ec0;
    border-radius: 70px;
  }
